.home-section {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.name-and-pic {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.name-and-pic h1{
  padding-top: 1rem;
  font: 300 60px "Oswald", sans-serif;
}
.name-and-pic img {
  height: auto;
  max-height: 350px;
  max-width: 300px;
  width: 25%;
  border-radius: 50%;
}

.about-me {
  margin-top: 1rem;
  text-align: center;
  
}

.contact-link {
  font-size: 1rem;
  border: 4/5px solid rgba(328, 328, 350, 0.5);
  border-radius: 12px;
  margin-top: 1rem;
  background-color: var(--bg-primary);

}

.contact-link:hover {
  border: solid var(--bg-secondary);
  color: var(--text-primary);

}


/* Small screens */
@media only screen and (max-width: 600px) {
  
  .about-me {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .name-and-pic {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {

  .about-me {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }

  
}

