.name-and-pic {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.name-and-pic img {
  height: auto;
  width: 25%;
  border-radius: 50%;
}

.about-me {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}


/* Small screens */
@media only screen and (max-width: 600px) {
  
  .about-me {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .name-and-pic {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {

  .about-me {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }

  
}

