.navbar {
    position: fixed;
    background-color: rgba(162, 162, 175, 0.9);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.svg {
    color: #b700ff;
    font-size: 2rem;
    min-width: 2rem;
    margin: 0 1rem;
    
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 4rem;
        background-color: var(--bg-primary);
    }
    
    .logo, .social-list, .link-text {
        display: none;
    }
  
    .navbar-nav {
        flex-direction: row;
    }
    
    .nav-link {
        justify-content: center;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 4rem;
        height: 100vh;
        transition: width 600ms ease;
    }
    
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    
    .logo {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        background: var(--bg-secondary);
        font-size: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;
    }
    
    .logo-text
    {
        color: #f1eff1;
        display: inline;
        position: absolute;
        left: -150px;
        transition: 400ms;
        white-space: pre-wrap;
    }
    
    .logo-svg {
        color: #f1eff1;
        font-size: 2rem;
        min-width: 2rem;
        margin: 0 1rem;
        transform: rotate(0deg);
        transition: var(--transition-speed);
    }
    
    .link-text {
        color: #b700ff;
        font-weight: bold;
        margin-left: 0.5rem;
        opacity: 0;
    }
    
    .social-list{
        display: flex;
        margin-top: auto;
    }
    
    .navbar:hover {
        width: 14.5rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
      opacity: 1;
      transition-property: opacity;
      transition-delay: 150ms;
    }
    
    .navbar:hover .logo svg
    {
        margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
        left: 2rem;
        transition-property: left;
        transition-timing-function: ease-in-out;
        transition-duration: 400ms;
    }

    .social-list .svg {
        font-size: 1.5rem;
        min-width: 1rem;
        margin: 0 0.2rem;
        transition: 400ms;
    }
    
    .navbar:hover .social-list .svg {
        font-size: 2rem;
        min-width: 2rem;
        margin: 0 1rem;
        transition: font-size 400ms, min-width 400ms, margin 400ms;
    }

    .navbar:hover .logo-svg {
        transform: rotate(-180deg);
    }
}

