* {
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container {
    margin-left: 4rem;
    margin-right: 4rem;
    border: 5px solid black;
}

.carousel-slide{
    display: flex;
    background-color: var(--bg-primary);
    height: auto; 
}

.project-svg{
    margin-top: 1rem;
}

.nav-svg, .project-svg {
    color: rgb(81, 81, 87);
    font-size: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.nav-svg:hover, .project-svg:hover {
    color: black;
}

.project-links {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

.carousel-card {
    margin: 0.5rem;
}

.carousel-card h2 {
    text-align: center;
}

.carousel-slide .project-nav {
    display: flex;
    align-items: center;
}

.carousel-slide .project-svg {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
        
    .carousel-container {
        max-width: 75%;
    }

    .carousel-card, img {
        width: 100%;
        height: auto;
        max-height: 60%;
        padding: 0.5rem;
    }
  
}
  
/* Large screens */
@media only screen and (min-width: 600px) {
        
    .carousel-card, img {
        width: 100%;
        max-width: 40rem;
        height: auto;
        padding: 0.5rem;
    }
}