.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header {
  font: 300 60px "Oswald", sans-serif;
  padding-top: 1rem;
  padding-bottom:3rem;
  text-align: center;
}

.skill-list h2 {
  font: 300 40px "Oswald", sans-serif;
  padding-top: 1rem;
  padding-bottom:1rem;  
  text-align: center;
}

.skill-list{
  margin-left: 2rem;
  margin-right: 2rem;
}

.skill-icons {
  color: var(--text-primary);
  padding-top: 1rem;
  font-size: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  justify-items: center;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .skill-icons {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  
}

/* Large screens */
@media only screen and (min-width: 600px) {

 
}