:root {
    font-size: 16px;
    font-family: "Open Sans";
    --text-primary: #ececec;
    --text-secondary: black;
    --bg-primary: rgb(102, 102, 115);
    --bg-secondary: #141418;
    --transition-speed: 600ms
}
  
body {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 0;
}
